@media (max-width: 870px) {
    .header h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    .header #form {
        width: 70%;
    }

    .header #search-input {
        width: 100%;
        position: relative;
    }
}

@media (max-width: 620px) {
    .nav-content {
        padding: 10px 15px;
    }

    .nav-content .logo {
        font-size: 18px;
    }

    .nav-content .profile-buttons {
        display: flex;
        gap: 5px;
    }

    .nav-content .profile-buttons a {
        width: 100px;
        padding: 7px 0;
        font-weight: bold;
        text-align: center;
        font-size: 13px;
    }

    .nav-content .profile-buttons a.login-button {
        width: 60px;
    }

    .header h2 {
        text-align: center;
    }
}


@media (max-width: 430px) {
    .header h2 {
        font-size: 25px;
    }

    .header #form {
        width: 70%;
    }

    .movies-container {
        padding: 10px
    }
}