body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-gray);
    color: var(--white);
}

.nav{
    background-color: var(--dark-gray);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--light-gray)
}

.nav-content{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 60px;
    max-width: 1600px;    
}

.nav-content a{
    color: var(--white);
}

.nav-content .logo{
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

.nav-content .profile-buttons{
    display: flex;
    gap: 10px;
}

.nav-content .profile-buttons a{
    background-color: var(--primary-green);
    width: 120px;
    padding: 2px 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: .2s ease-in-out;
    color: var(--dark-gray);
}


.nav-content .profile-buttons a.sign-button{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.nav-content .profile-buttons a:hover{
    opacity: 0.7;
}

.header{
    background-image: url("../images/Streaming_Media_-_Video_Streaming_-_Live_Streaming.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    margin-top: 60px;
}

.header h2{
    font-size: 40px;
}

.header #form{
    width: 50%;
}

.header #search-input{
    padding: 15px 20px;
    width: 50%;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    position: absolute;
    bottom: -20px;
    box-shadow: 0px 0px 72px -1px rgba(34, 184, 221, 0.79);
}

.movies-container{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.movies-container .movie{
    max-width: 300px;
    transition: 0.2s ease-in-out;
    position: relative;
}

.movies-container .movie:hover{
    transform: scale(1.05);
}

.movie .movie-presentation{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.movie .movie-presentation .poster{
    width: 100%;
    margin: 0 auto;
}


.movie .movie-presentation .poster img{
    width: 100%;
}


.movie .movie-presentation .movie-title{
    background-color: var(--dark-gray);
    padding: 5px 0 15px 0;
    text-align: center;
    margin-top: -4px;
}

.movie .movie-presentation .movie-title h4{
    font-weight: bold;
    margin: 5px 0;
}


.movie .movie-presentation .movie-title .rating{
    background-color: var(--primary-orange);
    padding: 2px 5px;
    border-radius: 5px;
}

.movie .movie-overview{
    padding: 50px 25px;
    background-color: var(--dark-gray);
    position: absolute;
    top: 10px;
    height: 95%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.movie .movie-overview:hover{
    opacity: 0.9;
}

.movie .movie-overview h4{
    margin-bottom: 15px;
}

.movie.hide{
    display: none;
}

.footer{
    margin-top: 150px;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px 0;
}

.footer .logo-footer{
    font-family: 'Righteous', cursive;
}

.footer p{
    font-size: 18px;
}

.footer .social-list{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
}

.footer .social-list a{
    color: var(--white);
}

.footer .social-list a:hover{
    color: var(--primary-green);
}

.footer .address-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
