:root{
    --white: #fff;

    --bright-gray: #afafaf;
    --light-gray: #525252;
    --primary-gray: #202124;
    --dark-gray: #141414;

    --primary-green: #22ddc6;

    --primary-orange: #dd7322
}